<!-- Include CSS for summary section -->
<link rel="stylesheet" type="text/css" href="css/modeinterface.css">

<!-- Results section -->
<h4>Bank balance after fuel delivery: <span ng-class="enoughMoneyMessageClass">RM{{ cashDifference | number: 2 }}</span></h4>
<h3 ng-class="enoughMoneyMessageClass">{{ enoughMoneyMessage }}</h3>
<br />

<!-- Data summary -->
<div class="summary">
  <p>Bank account balance: RM{{ bankBalance | number: 2 }}</p>
  <!-- Old code
  <p>Fuel price: RM{{ fuelPrice | number: 2 }}/litre</p>
  <p>Fuel cost: RM{{ fuelCost | number: 2 }}/litre</p>
  -->
  <p>Total fuel receiving cost: RM{{ totalFuelReceivingCost | number: 2 }}</p>
</div>
<br />

<!-- Data input section -->
<div>
  <form class="form-inline">
    <div class="form-group">
      <p>Current bank account balance (RM):
	<input type="number" class="form-control" ng-model="bankBalance" floats-only>
      </p>
    </div>
  </form>
  <!-- Old code
  <p>Fuel type:
    <select ng-model="fuelPrice" ng-options="type for (type, price) in fuelData"></select>
  </p>
  <p>Your fuel commision (RM):
    <input type="number" ng-model="fuelCommision">
  </p>
  <p>Amount of fuel you are receiving (litres):
    <input type="number" ng-model="fuelReceivingAmount">
  </p>
  -->
  <hr>

  <!-- Input tables section -->
  <div>
    <!-- Input table 1 -->
    <div class="col-md-4">
      <p>Fuel type: <select ng-model="fuelTypeData[0].price" ng-options="type for (type, price) in fuelData"></select> (RM{{ fuelTypeData[0].price | number: 2}}/litre)</p>
      <div class="form-group">
	<p>Fuel commission (RM)</p>
	<input type="number" class="form-control" ng-model="fuelTypeData[0].commission" floats-only>
      </div>
      <p>Fuel cost: RM{{ fuelTypeData[0].cost | number: 6 }}/litre</p>
      <table class="table">
        <tr>
          <th>Day</th>
          <th>Fuel (litres)</th>
          <th>Cost (RM)</th>
        </tr>
        <tr ng-repeat="day in fuelDays[0]">
          <td>{{$index + 1}}</td>
          <td><input type="number" style="width:60%;" ng-model="day.amount" floats-only></td>
          <td>{{ day.cost | number: 2 }}</td>
        </tr>
        <tr>
          <th>Sum</th>
          <th>{{ fuelTypeData[0].sumOfFuelAmount | number }}</th>
          <th>{{ fuelTypeData[0].sumOfFuelCost | number: 2 }}</th>
        </tr>
      </table>
      <div class="btn-group btn-group-justified" role="group">
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="addDay(0)" ng-disabled="addButtonDisable[0]"><span class="glyphicon glyphicon-plus"></span> Add</button>
	</div>
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="removeDay(0)" ng-disabled="removeButtonDisable[0]"><span class="glyphicon glyphicon-minus"></span> Remove</button>
	</div>
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="resetDay(0)"><span class="glyphicon glyphicon-trash"></span> Reset</button>
	</div>
      </div>
      <hr>
    </div>
    <!-- End of input table 1 -->

    <!-- Input table 2 -->
    <div class="col-md-4">
      <p>Fuel type: <select ng-model="fuelTypeData[1].price" ng-options="type for (type, price) in fuelData"></select> (RM{{ fuelTypeData[1].price | number: 2}}/litre)</p>
      <div class="form-group">
	<p>Fuel commission (RM)</p>
	<input type="number" class="form-control" ng-model="fuelTypeData[1].commission" floats-only>
      </div>
      <p>Fuel cost: RM{{ fuelTypeData[1].cost | number: 6 }}/litre</p>
      <table class="table">
        <tr>
          <th>Day</th>
          <th>Fuel (litres)</th>
          <th>Cost (RM)</th>
        </tr>
        <tr ng-repeat="day in fuelDays[1]">
          <td>{{$index + 1}}</td>
          <td><input type="number" style="width:60%;" ng-model="day.amount" floats-only></td>
          <td>{{ day.cost | number: 2 }}</td>
        </tr>
        <tr>
          <th>Sum</th>
          <th>{{ fuelTypeData[1].sumOfFuelAmount | number }}</th>
          <th>{{ fuelTypeData[1].sumOfFuelCost | number: 2 }}</th>
        </tr>
      </table>
      <div class="btn-group btn-group-justified" role="group">
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="addDay(1)" ng-disabled="addButtonDisable[1]"><span class="glyphicon glyphicon-plus"></span> Add</button>
	</div>
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="removeDay(1)" ng-disabled="removeButtonDisable[1]"><span class="glyphicon glyphicon-minus"></span> Remove</button>
	</div>
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="resetDay(1)"><span class="glyphicon glyphicon-trash"></span> Reset</button>
	</div>
      </div>
      <hr>
    </div>
    <!-- End of input table 2 -->

    <!-- Input table 3 -->
    <div class="col-md-4">
      <p>Fuel type: <select ng-model="fuelTypeData[2].price" ng-options="type for (type, price) in fuelData"></select> (RM{{ fuelTypeData[2].price | number: 2}}/litre)</p>
      <div class="form-group">
	<p>Fuel commission (RM)</p>
	<input type="number" class="form-control" ng-model="fuelTypeData[2].commission" floats-only>
      </div>
      <p>Fuel cost: RM{{ fuelTypeData[2].cost | number: 6 }}/litre</p>
      <table class="table">
        <tr>
          <th>Day</th>
          <th>Fuel (litres)</th>
          <th>Cost (RM)</th>
        </tr>
        <tr ng-repeat="day in fuelDays[2]">
          <td>{{$index + 1}}</td>
          <td><input type="number" style="width:60%;" ng-model="day.amount" floats-only></td>
          <td>{{ day.cost | number: 2 }}</td>
        </tr>
        <tr>
          <th>Sum</th>
          <th>{{ fuelTypeData[2].sumOfFuelAmount | number }}</th>
          <th>{{ fuelTypeData[2].sumOfFuelCost | number: 2 }}</th>
        </tr>
      </table>
      <div class="btn-group btn-group-justified" role="group">
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="addDay(2)" ng-disabled="addButtonDisable[2]"><span class="glyphicon glyphicon-plus"></span> Add</button>
	</div>
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="removeDay(2)" ng-disabled="removeButtonDisable[2]"><span class="glyphicon glyphicon-minus"></span> Remove</button>
	</div>
	<div class="btn-group" role="group">
	  <button class="btn btn-default" ng-click="resetDay(2)"><span class="glyphicon glyphicon-trash"></span> Reset</button>
	</div>
      </div>
      <hr>
    </div>
    <!-- End of input table 3 -->

  </div>
  <!-- End of input tables section -->

</div>
