<app-bank-balance [bankBalance]="bankBalance" [totalFuelCost]="inputData.totalFuelCost()"></app-bank-balance>
<br>

<div class="text-muted">
  <p>Bank account balance: RM{{bankBalance | number:'1.2-2'}}</p>
  <p>Fuel price: RM{{inputData.fuelPrice | number:'1.2-2'}}</p>
  <p>Fuel cost: RM{{inputData.fuelCost() | number:'1.2-6'}}</p>
  <p>Total fuel receiving: {{inputData.fuelReceiving | number:'1.0-0'}} litres, RM{{inputData.totalFuelCost() | number:'1.2-2'}}</p>
</div>

<div class="col-md-4">
  <form>
    <div class="form-group">
      <p>Current bank account balance (RM)</p>
      <input type="number" class="form-control" [(ngModel)]="bankBalance" name="bankBalance" appFloatsOnly>
    </div>
    <div class="form-group">
      <p>Fuel type</p>
      <select class="form-control" [(ngModel)]="inputData.fuelPrice" name="fuelPrice">
        <option *ngFor="let fuel of fuelPriceService.fuelPrices" [value]="fuel.price">{{fuel.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <p>Fuel commision (RM)</p>
      <input type="number" class="form-control" [(ngModel)]="inputData.fuelCommission" name="fuelCommission" appFloatsOnly>
    </div>
    <div class="form-group">
      <p>Amount of fuel you are receiving (litres)</p>
      <input type="number" class="form-control" [(ngModel)]="inputData.fuelReceiving" name="fuelReceiving" appFloatsOnly>
    </div>
  </form>
</div>